<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UAS_IMELDA_202111547.Properties.Settings.UASConnectionString"
            connectionString="Data Source=GYPSIDANGER367\CHOWDER1731367;Initial Catalog=UAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>